/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

tottoIcon       ICON         "tottoIcon.ico"

/////////////////////////////////////////////////////////////////////////////
