/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

aaaaaaaa        ICON         "tottoIcon.ico"
tottoIcon       ICON         "tottoIcon.ico"

/////////////////////////////////////////////////////////////////////////////
